.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          group name
        %ul.left-header__members
          Members :
          %li.member
            k t k
      .right-header
        = link_to 'Edit', "#", class: "right-header__button"

    .messages
      = render partial: "message", collection: @messages

    .form
      .form-content
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: "form-content__message", placeholder: "type a message"
          .form-content__image
            = f.label :image, class: "form-content__image__btn" do
              = fa_icon "picture-o"
              = f.file_field :image, style: "display: none;"
          = f.submit "Send", class: "form-content__send"
